/**
 * @file Overrides some bootstrap elements and fixes various problems with the
 * contrib "Bootstrap" theme.
 */

// Table Draggers use a sprite for a background image. Adding an explicit
// height so that other parts of the sprite don't bleed through.
a.tabledrag-handle .handle {
  height: 22px;
}

/**
 * Applies bootsraps default menu style to menu items that aren't links. (See
 * the "Special Menu Items" module.)
 */
.nav {
  > li {
    span {
      cursor: default;
      display: block;
      padding: 10px 15px;
      position: relative;
    }
  }
}
.navbar-default {
  .navbar-nav {
    > li > span {
      color: #777777;
    }
  }
}
.navbar-nav {
  > li {
    > span {
      line-height: 20px;
    }
  }
  @media (min-width: 768px) {
    > li {
      > span {
        padding-top: 15px;
        padding-bottom: 15px;
      }
    }
  }
}

/**
 * Applies Bootstrap's `btn-default` classes to the `btn` class so users don't
 * have to add two classes to create a default button.
 */
.btn {
  color: #333333;
  background-color: #ffffff;
  border-color: #cccccc;
  &:hover {
    color: #333333;
    background-color: #ebebeb;
    border-color: #adadad;
  }
}

/**
 * There are some cases where elements may be positioned relatively from some
 * other rule which makes the .sr-only class ineffective. We just put an
 * !important on it to eliminate that possiblity.
 */
.sr-only {
  position: absolute !important;
}

@import "tables";