/**
 * @file Overrides some bootstrap elements and fixes various problems with the
 * contrib "Bootstrap" theme.
 */

// Table Draggers use a sprite for a background image. Adding an explicit
// height so that other parts of the sprite don't bleed through.
a.tabledrag-handle .handle {
  height: 22px;
}

/**
 * Applies bootsraps default menu style to menu items that aren't links. (See
 * the "Special Menu Items" module.)
 */
.nav {
  > li {
    span {
      cursor: default;
      display: block;
      padding: 10px 15px;
      position: relative;
    }
  }
}
.navbar-default {
  .navbar-nav {
    > li > span {
      color: #777777;
    }
  }
}
.navbar-nav {
  > li {
    > span {
      line-height: 20px;
    }
  }
  @media (min-width: 768px) {
    > li {
      > span {
        padding-top: 15px;
        padding-bottom: 15px;
      }
    }
  }
}

// For some reason, views sets this selector to float: none which breaks the
// pager. Resetting it here.
.view .progress-disabled {
  float: left;
}

// The TB Mega Menu module uses the ".collapse" class on menu items. Bootstrap
// hides that class. Here, we allow that class to be shown when inside a TB
// Mega Menu container.
.tb-megamenu .nav-collapse.collapse {
  display: block;
}

// Gives email fields the same style as text fields
.form-email {
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555555;
  background-color: #ffffff;
  background-image: none;
  border: 1px solid #cccccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

/**
 * Applies Bootstrap's `btn-default` classes to the `btn` class so users don't
 * have to add two classes to create a default button.
 */
.btn {
  color: #333333;
  background-color: #ffffff;
  border-color: #cccccc;
  &:hover {
    color: #333333;
    background-color: #ebebeb;
    border-color: #adadad;
  }
}

/**
 * There are some cases where elements may be positioned relatively from some
 * other rule which makes the .sr-only class ineffective. We just put an
 * !important on it to eliminate that possiblity.
 */
.sr-only {
  position: absolute !important;
}

@import "tables";